<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.application.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.application.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity
            android:name="com.application.app.modules.seemore3.ui.SeeMore3Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.seemore5.ui.SeeMore5Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.detailpage10.ui.DetailPage10Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.detailpage6.ui.DetailPage6Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.appnavigation.ui.AppNavigationActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.detailpage4.ui.DetailPage4Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.account4.ui.Account4Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.search7.ui.Search7Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.explore1.ui.Explore1Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.authentication2.ui.Authentication2Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.search10.ui.Search10Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.seemore7.ui.SeeMore7Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.explore11.ui.Explore11Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.seemore1.ui.SeeMore1Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.explore8.ui.Explore8Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.search3.ui.Search3Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.dashboard.ui.DashboardActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.channel5.ui.Channel5Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.channel3.ui.Channel3Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.channel1.ui.Channel1Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.detailpage2.ui.DetailPage2Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.search8.ui.Search8Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.explore4.ui.Explore4Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.splash.ui.SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.app.modules.search1.ui.Search1Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.app.modules.detailpage8.ui.DetailPage8Activity" android:screenOrientation="portrait"/>
    </application>
</manifest>
